html,body{
  width: auto;
  margin:0;
}

*{
  box-sizing: border-box;
}

.header{
  background-image: url(http://safiyahesack.files.wordpress.com/2013/03/big-wave-surfing-wallpapers-1920x1080.jpg);
  height: 10rem;
  width: 100%;



}

.navbar{





}

.navbar__logo{
max-width: 50%;


}

.about-link{

 font-family: sans-serif;

}

.search-link{
  font-family: sans-serif;

}

.hero-title{



  font: sans-serif;
  font-size: 30px;

}

.hero-sub__title{
  text-align: center;
  font: sans-serif;
  font-size: 10px;

}


.container {
  display: flex;
  /*flex-direction:column;*/


  background: green;

  width: auto;

  margin: auto;

}




.content {

  display: flex;
  flex-wrap: wrap;


  width: auto;
  background: blue;

}

.left-article{
  background-color: purple;

}

.article-heading{
  text-align: center;

}

.article-author__avatar{


}

.author-pic{
float: left;
}
.article-author__publishdate{
  font-size: 1rem;


}

.article-text{
  font-size: 1rem;



}

.article-quote{
  font-size: 2rem;

}


.right-article{
  display: flex;
  background-color: red;

}

.author-image{



}

.author-name{

}

.author-social__links{

}

.ad-image{


}

.ad-link{

}

.sidebar-secondarticle__short{

}



.footer{

  background-color: pink;
  height: 25rem;
  width: auto;


}

.footer-heading{
  text-align: center;
}

.footer-other__post{
  display: flex;


}

.footer-other__postitempicture{
  display: flex;
  height: 10rem;

}

.pic{
  height: 10rem;
  width: 10rem;
}

.footer-other__postitemtitle{



}

.footer-navbar{




}

.footer-navbar__logo{


}

.footer-navbar__legal{

}

.footer-navbar__navitems{

}
